*
{
    margin: 0;
    padding: 0;
}

.game-wrap {
    display: flex;
}

.player-select,
.com-select {
    width: 146px; 
    height: 166px; 
    background-image: url("./images/img.webp");
    border: 1px solid;
    background-size: 532px;
    background-position-x: 90px;
    background-position-y: -4px;
    background-repeat: no-repeat;
}

.scissors {
    background-position-x: -42px; 
}

.rock {
    background-position-x: -186px;
}

.paper {
    background-position-x: -338px;
    background-position-y: -26px;
}

.player-btn {
    width: 100px;
    height: 50px;
}

.player-btn:hover {
   animation: buttonPress 2s ease-in-out;
   animation: bounce 3s infinite;
}


@keyframes buttonPress {
    from {
        transform: scale(1); 
    }
    to {
        transform: scale(0.95);
    }
}


@keyframes bounce { /* 키프레임을 통해  바운스라는 둥둥 떠다니는 효과를 지정*/
    0%, 
    100% {
         transform: translateY(0);
     } /* 애니메이션 시작과 끝에서 요소가 원래 위치에 머뭄*/
    50% {
         transform: translateY(-5px);
     }  /* 애니메이션 중간 지점에서 요소가 Y축으로 -5px만큼 위로 이동 */
  }
