
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

#content_form {
    display: flex;
    justify-content: center;
}

.warp {
    width: 500px;
    height: 500px;
    border: 1px solid;
    margin: 0 auto;
    overflow-y: scroll;
}

.warp .content-header  {
    width: 100%;   
    height: 40px;
    display: flex;
}
.warp .content-header li {
    display: flex;
    justify-content: center;
    align-items: center;
    border : 1px solid;
    box-sizing: border-box;
}


.warp .content-header  li:nth-child(1) {
    width: 10%;
}
.warp .content-header  li:nth-child(2) {
    width: 30%;
}
.warp .content-header  li:nth-child(3) {
    width: 40%;
}
.warp .content-header  li:nth-child(4) {
    width: 20%;
}



.content ul {
    width: 100%;
    height: max-content;
    display: flex;
}

.content ul li {
    border: 1px solid;
    box-sizing: border-box;
    padding: 8px;
}

.content ul li:nth-child(1) {
    width: 10%;
}
.content ul li:nth-child(2) {
    width: 30%;
}
.content ul li:nth-child(3){
    width: 40%;
}
.content ul li:nth-child(3) img {
    width: 100%;
}
.content ul li:nth-child(4) {
    width: 20%;
}

